<mat-toolbar class="container" color="primary">
  <div>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Task Management</span>
  </div>
  <div class="itemContainer">
    <button (click)="navigateTo('')" mat-button>HOME</button>

    <button (click)="navigateTo('tasks')" mat-button class="item">TASKS</button>
  </div>
  <div>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="navigateTo('profile')"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
